Repository nclskfm/dhbw-studienarbeit-muehle, pull requests merged in 2021-01, with the labels that each got.

#47 Minimax: Cache leeren
  jupyter/muehle-minimax.ipynb
Labels: bug, minimax

#48 Minimax: Maximale Rekursionstiefe
  jupyter/muehle-minimax.ipynb
Labels: bug, minimax

#50 Minimax: Falscher Variablenname und falsch verwendete Funktionssignatur
  jupyter/muehle-minimax.ipynb
Labels: bug, minimax

#51 Game: finished(s, p)
  jupyter/muehle-game.ipynb
  jupyter/muehle-minimax.ipynb
Labels: bug, game

#54 Game: Sonderfall zwei Mühlen in Phase 1
  jupyter/muehle-game-utils.ipynb
  jupyter/muehle-game.ipynb
Labels: bug, game

#53 Minimax: Heuristik für max. Rekursion
  jupyter/muehle-minimax.ipynb
Labels: minimax

#55 Game: Sonderfall Stein entfernen in Mühle
  jupyter/muehle-game-utils.ipynb
Labels: bug, game

#52 #7: Implemented first version of playable gui
  jupyter/muehle-game-utils.ipynb
  jupyter/muehle-gui.ipynb
Labels: gui

#74 Game-Utils: findMuehlen() vereinfachen
  jupyter/nmm-game-utils.ipynb
Labels: bug, game

#75 Feature/57 cancel steps
  jupyter/nmm-gui.ipynb
Labels: gui
