Repository nclskfm/dhbw-studienarbeit-muehle, pull requests merged in 2021-02, with the labels that each got.

#80 Added docker-compose.yaml for native jupyter-notebook
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yaml
Labels: meta

#81 #63: Add style.html
  jupyter/nmm-game-utils.ipynb
  jupyter/nmm-game.ipynb
  jupyter/nmm-gui.ipynb
  jupyter/nmm-minimax.ipynb
  jupyter/style.html
  jupyter/tests/nmm-test-example.ipynb
  jupyter/tests/nmm-test-utils.ipynb
  jupyter/tests/nmm-test.ipynb
Labels: docs

#83 #65 Moved Test States to test-utils notebook
  jupyter/nmm-game-utils.ipynb
  jupyter/tests/nmm-test-utils.ipynb
Labels: bug, game, test

#88 #87: fix next states for player phase 3
  jupyter/nmm-game.ipynb
Labels: bug

#84 #18, #19 and #85 Implemented Alpha-Beta-Pruning
  jupyter/nmm-alpha-beta-pruning.ipynb
  jupyter/nmm-gui.ipynb
  jupyter/nmm-heuristic.ipynb
  jupyter/nmm-minimax.ipynb
Labels: alphaBeta, minimax

#90 Feature/86 dynamic player selection
  jupyter/nmm-alpha-beta-pruning.ipynb
  jupyter/nmm-gui.ipynb
  jupyter/nmm-minimax.ipynb
Labels: gui

#93 fix wrong algo check
  jupyter/nmm-gui.ipynb
Labels: IMPORTANT, bug, gui

#94 Added stones from stash to heuristic
  jupyter/nmm-heuristic.ipynb
Labels: alphaBeta, bug, minimax

#104 Feature/32 docs gui
  Dockerfile
  jupyter/images/nmm-av.drawio
  jupyter/images/nmm-av.png
  jupyter/images/nmm-coords.drawio
  jupyter/images/nmm-coords.png
  jupyter/nmm-gui.ipynb
Labels: docs, gui

#105 Feature/95 last move visible
  jupyter/nmm-gui.ipynb
Labels: gui
