Repository nclskfm/dhbw-studienarbeit-muehle, pull requests merged in 2021-03, with the labels that each got.

#103 Symmetrie Erkennung für AlphaBeta
  jupyter/nmm-alpha-beta-pruning.ipynb
  jupyter/nmm-symmetry.ipynb
Labels: alphaBeta

#106 #96: Added tie rule for moves without mill
  jupyter/nmm-gui.ipynb
Labels: gui

#108 #107 Fixed caching issue in AlphaBeta
  jupyter/nmm-alpha-beta-pruning.ipynb
Labels: alphaBeta, bug

#109 #30 #97 #111 #68 Docs: game
  jupyter/images/nmm-rings.png
  jupyter/nmm-game-utils.ipynb
  jupyter/nmm-game.ipynb
Labels: IMPORTANT, docs

#112 #109 Fixed missplaced comma
  jupyter/nmm-game.ipynb
Labels: bug, docs, game

#110 #41 Docs: Minimax
  jupyter/nmm-minimax.ipynb
Labels: IMPORTANT, docs, minimax

#114 #113 show score in gui
  jupyter/nmm-gui.ipynb
Labels: gui

#118 Improved performance (nextStates reuse, reordering)
  jupyter/nmm-alpha-beta-pruning.ipynb
  jupyter/nmm-game.ipynb
Labels: alphaBeta, game

#120 #116 Docs: game-utils (Mills)
  jupyter/nmm-game-utils.ipynb
Labels: IMPORTANT, docs, game
